a {
  all: unset;     
  text-decoration: none; 
  color: inherit;      
  cursor: pointer;  
  font-family: serif;    
}

h1 { font-family: serif;
    font-size: 6rem;
}
h3{font-family: serif;
font-weight: 700;
font-size: 1.3rem;
margin-left: 2%;}

ol {
  counter-reset: list-counter; 
  padding-left: 2%;           
  list-style: decimal;   
   padding-left: 4%;     
}

ol li {
  color: black;                /* colore del testo */
  position: relative;
 
}

ol li::marker {
  color: silver;
  font-size: 2rem;                          
  font-weight: bold;
  content: counter(list-counter, decimal-leading-zero) ". "; 
}

/* Aggiorna il contatore per i ::marker */
ol li {
  counter-increment: list-counter;
}


/* sempre visibili sul mobile */
.mobile {
  display: inline-block;
}

/* desktop: mostra le icone desktop */
@media (min-width: 1024px) {
  .desktop {
    display: inline-block;
    padding-right: 1%;
  }}
/* desktop: mostra le icone tablet */
  @media (min-width: 768px) {
  .desktop {
    display: inline-block;
    padding-right: 1%;
  }}
.nav-bar{
    background-color: #ffc017;
border-bottom: 2px solid black;
align-items: center;
display: flex;
justify-content: flex-end;
;
padding-top: 1%;
padding-bottom: 1%;

}

.logo {
  margin-right: auto;
padding-left: 7%;}

.btn {
    display: inline-flex;
  align-items: center;
  justify-content: center;
background-color:black; 
  color: white;              
  border-radius: 50px;      
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 7%;
  padding: 0.6%;
}
.btn:hover {
  background-color: #1a8917;
}


.under-nav { background-color: #ffc017;
border-bottom: 2px solid black;
display: flex;
justify-content: flex-start;
;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 4%;

}
.yellowp{
    font-family: serif;
    font-size: 1.6rem;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 6%;
}

.second-btn { font-family: serif;
    font-size: 2rem;
    display: inline-flex;
  align-items: center;
  justify-content: center;
background-color:black; 
  color: white;              
  border-radius: 50px;      
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
padding: 1.6%;
padding-left: 10%;
padding-right: 10%;                                                
}

.second-btn:hover { 
  background-color: #1a8917;
}

.m {display: flex;
    margin-left: auto;
    padding: 0;       
   height: 100%;
}

/*PERCHE C E SPAZIO TRA NAV E UNDER NAV? CHE SPAZIO E'?*/



/*-------------MAIN------------------- */

.trending-bar .icons {
  display: flex;             
  align-items: center;       
  text-decoration: none;     
  color: black;            
  gap: 1%; 
  padding-top: 4%;   
  padding-left: 1.5%; 
}

.trending-bar .icons img {

}

.trending-bar .icons .trend-title {
 font-family: serif;
  font-weight: bold;
  font-size: 1.1rem
}


.icons {margin-bottom: 2%;}

/* ---- cards --*/
.card-container {
    padding-left: 10%;
}


.card {
  display: flex;
  flex-direction: column;
gap: 5%;
  margin-bottom: 1%;
  
}

.top-row {
    margin-bottom: 2%;
  display: flex;
  align-items: center; 
  gap: 0.5%  

}

.top-row img {
  width: 7%;
  border-radius: 50%; 
  object-fit: cover;
}

.bottom-row {
  display: flex;
 gap: 4%;
 margin-top: 0.3%;
}

.t-text {
  margin: 0;
  margin-top: 0.3%;
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
}

.date, .read-time {
  margin: 0;
  font-size: 0.8rem;
  color: #888;
}


/* Tablet: due colonne */
@media (min-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
  }
  
  .card-container li {
    width: 40%; 
    margin-bottom: 5%;
  }
}

/* Desktop: tre colonne */
@media (min-width: 1024px) {
   .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3%;
  }
  
    .card-container li {
    width: 30%; 
     margin-bottom: 5%;
   
  }
}